body{
	font-family: 'Century Gothic',Calibri ,serif;
	background-color: rgba(64 ,200 ,130 ,0.15);
}
#bloc_page
{
width: 900px;
margin: auto;
}
section h1, footer h1, nav a
{
font-family: Dayrom, serif;
font-weight: normal;
text-transform: uppercase;
}